/*
* This substitutes some dokuwiki css styles.
* All dokuwiki styles are ignored for reveal.js
*
* To obtain some compatibility, some of them are here redefined.
*
*/
.medialeft {
  float: left;
}
.mediaright {
  float: right;
}

.doku_revealjs_table {
    margin-left: auto !important;
    margin-right: auto !important;
}

.tags {
   display: none !important;
}

.wrap_lo {
  font-size:smaller !important;
  opacity: 0.9 !important;
}
.wrap_llo {
  font-size: 50% !important;
  opacity: 0.6 !important;
}
.wrap_clear {
    clear: both;
    line-height: 0;
    height: 0px;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
}
.wrap_lo img{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.wrap_bottom_left {
    position: fixed;
    bottom: 0;
    left: 0;
}
.wrap_footer,
.wrap_footer_left,
.wrap_footer_right {
    font-size: 0.75em !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.wrap_footer {
    left: 0;
    right: 0;
}
.wrap_footer_left {
    left: 0;
}
.wrap_footer_right {
    right: 0;
}
.no-footer .wrap_footer,
.no-footer .wrap_footer_left,
.no-footer .wrap_footer_right {
  	visibility: hidden;
}
.wrap_grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.has-dark-background .white-only,
.black-only {
    display: none;
}
.has-dark-background .black-only {
    display: inline;
}

.reveal h4 {
  margin-top: 20px !important;
}
.reveal dl {
  display: block !important;
}
.reveal td {
   vertical-align: top !important;
   border-bottom: none !important;
}
.reveal em.u {
    font-style: normal;
    text-decoration: underline;
}
.reveal sup, .reveal sub {
    font-size: .75em;
}
