/*
* This substitutes some dokuwiki css styles.
* All dokuwiki styles are ignored for reveal.js
* 
* To obtain some compatibility, some of them are here redefined.
*
*/
.medialeft {
  float: left;
}
.mediaright {
  float: right;
}

.wrap_lo {
  font-size:smaller !important;
}

.doku_revealjs_table {
    margin-left: auto !important;
    margin-right: auto !important;
}
.reveal h4 {
  margin-top: 20px !important;
}

.reveal ul {
	display: inline !important;
}

.reveal ol {
	display: inline !important;
}

.reveal ul ul {
	display: block !important;
}

.reveal ol ul {
	display: block !important;
}

.reveal ul ul ul {
	display: block !important;
}

.reveal ol ul ul {
	display: block !important;
}
