/*
* This substitutes some dokuwiki css styles.
* All dokuwiki styles are ignored for reveal.js
*
* To obtain some compatibility, some of them are here redefined.
*
*/
.reveal sup, .reveal sub {
    font-size: .75em;
}

.reveal em.u {
    font-style: normal;
    text-decoration: underline;
}

.reveal .medialeft {
  float: left;
}

.reveal .mediaright {
  float: right;
}

.reveal .doku_revealjs_table {
    margin-left: auto !important;
    margin-right: auto !important;
}

.reveal h4 {
  margin-top: 20px !important;
}

.reveal dl {
  display: block !important;
}

.reveal .tags {
   display: none !important;
}

.reveal td {
   vertical-align: top !important;
   border-bottom: none !important;
}

.reveal .wrap_lo {
  font-size:smaller !important;
  opacity: 0.9 !important;
}

.reveal .wrap_llo {
  font-size: 50% !important;
  opacity: 0.6 !important;
}

.reveal .wrap_clear {
    clear: both;
    line-height: 0;
    height: 0px;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
}

.reveal .wrap_lo img{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.reveal .wrap_bottom_left {
    position: fixed;
    bottom: 0;
    left: 0;
}


.reveal .wrap_footer {
   position: fixed;
   bottom: -1em;
   left: 0%;
   right: 0%;
}

.reveal .wrap_footer_left {
   position: fixed;
   bottom: -1em;
   left: 0%;
}

.reveal .wrap_footer_right {
   position: fixed;
   bottom: -1em;
   right: 0%;
}

.reveal .wrap_grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.reveal .no-footer .wrap_footer,
.reveal .no-footer .wrap_footer_left,
.reveal .no-footer .wrap_footer_right {
  	visibility: hidden;
}

.reveal .has-dark-background .white-only,
.reveal .black-only {
    display: none;
}

.reveal .has-dark-background .black-only {
    display: inline;
}
